[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MultisiteMediation"]
	path = MultisiteMediation
	url = https://github.com/xu-qin/multisitemediation
